<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web-Chat</title>
</head>
<body>
    <h1>Web-Chat</h1>
    <h4>Write Here</h4>
    <form action="" method="post">
        {% csrf_token %}
        <label for="text">Sender</label>
        <input type="text" name="sender" id="sender">
        <label for="text">Reciver</label>
        <input type="text" name="reciver" id="reciver">
        <label for="textarea">Message</label>
        <input type="text" name="message" id="message">
        <a href="/add"><input type="submit" value="submit"></a>
    </form>
</body>
</html>